<!-- |===========| START: RECENT CHANGE |===========| -->
{{ $pinned := where .Site.RegularPages "Params.pinned" true }}
{{ if $pinned }}
<nav class="navbar navbar--widget">

  <div class="navbar__label">
    <span>Pinned</span>
  </div>

    <ul class="nav nav--widget">
      {{ range $pinned }}
        <li class="nav__item">
          <a href="{{ .RelPermalink }}" class="nav__link">
            <span>{{ .Title }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
<!-- |===========| END: RECENT CHANGE |===========| -->