<!-- |===========| START: RECENT CHANGE |===========| -->
<nav class="navbar navbar--widget">

  <div class="navbar__label">
    <span>Pinned</span>
  </div>

  {{ $pinned := where .Site.RegularPages "Params.pinned" true }}
  {{ if $pinned }}
    <ul class="nav nav--widget">
      {{ range $pinned }}
        <li class="nav__item">
          <a href="{{ .RelPermalink }}" class="nav__link">
            <span>{{ .Title }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</nav>
<!-- |===========| END: RECENT CHANGE |===========| -->