<!-- |===========| START: RECENT CHANGE |===========| -->
{{ $recent := .Site.RegularPages | first 5 }}
{{ if $recent }}
<nav class="navbar navbar--widget">

<div class="navbar__label">
  <span>News</span>
</div>

  <ul class="nav nav--widget">
    {{ range $recent }}
      <li class="nav__item">
        <a href="{{ .RelPermalink }}" class="nav__link">
          <span>{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
<!-- |===========| END: RECENT CHANGE |===========| -->
