<!-- |===========| START: TABLE OF CONTENT |===========| -->
<nav class="navbar">

  <div class="navbar__label">
    <i class="bi bi-list-task"></i>
    <span>Table of Contents</span>
  </div>

  {{ $toc := .TableOfContents }}
  {{ $toc := replaceRE `<ul>` `<ul class="nav nav--toc">` $toc }}
  {{ $toc := replaceRE `<li>` `<li class="nav__item">` $toc }}
  {{ $toc := replaceRE `<a href=` `<a class="nav__link" href=` $toc }}
  {{ $toc | safeHTML }}
  
</nav>
<!-- |===========| END: TABLE OF CONTENT |===========| -->