<!-- |===========| START: TOP CATEGORIES |===========| -->
<nav class="navbar navbar--widget">

  <div class="navbar__label">
    <i class="bi bi-grid"></i>
    <span>Top 5 Categories</span>
  </div>

  {{ $categories := .Site.Taxonomies.categories }}
  {{ $topCategories := $categories.ByCount | first 5 }}

  <ul class="nav nav--widget">
    {{ range $topCategories }}
      <li class="nav__item">
        <a href="{{ .Page.Permalink }}" class="nav__link">
          {{ .Term | title }}
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
<!-- |===========| END: TOP CATEGORIES |===========| -->