///==============================================//
//================// BTN.SCSS //=================//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.btn {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid var(--cl-border);
  border-radius: 0.25rem;
  color: var(--cl-text-first);
  background-color: var(--bg-solid-second);
  box-shadow: var(--shadow-lg);

  @include m.transition(border-color, background-color, color, box-shadow);
  &:is(:hover, :active, &:focus-visible){
    box-shadow: var(--shadow-glow-md);
    color: var(--cl-accent-first);
    border-color: var(--cl-accent-first);
    background-color: var(--bg-opacity-third);
  }

  &--icon {
    font-size: v.$font__size--xl;
    .bi {@include m.flex-center;}
  }
}