@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.card {
  display: inline-block;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: var(--shadow-md);
  text-decoration: none;
  color: var(--text-second);
  cursor: pointer;
  height: 30rem;

  &__image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit: cover;
    z-index: -1;
    transition: filter, scale, 0.75s ease-in-out;
  }

  &__body {
    position: absolute;
    top: 0;
    padding: 1rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: opacity 0.75s, transform, background-color, .5s ease-in-out;
    text-align: center;
  }

  &:is(:hover, :active, :focus, :focus-visible, :focus-within) {

    .card__body {
      opacity: 1;
      transform: translateY(0%);
      background-color: var(--bg-second);
    }

    .card__image {
      filter: opacity(0.5);
      scale: 1.1;
    }
  }

  &__meta {
    gap: 1.2rem;
    @include m.flex-center;
    
    & small {
      display: flex;
      gap: 0.5rem;
    }
  }

  .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    @include m.text-ellipsis;
  }
}