///==============================================//
//=============// PAGINATION.SCSS //=============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.pagination {
  @include m.flex-center;
  margin: 2rem 0;
  
  &-default {
    @include m.flex-center;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }

  .page-item {
    &.disabled .page-link {
      pointer-events: none;
      opacity: 0.5;
    }

    &.active .page-link {
      background-color: var(--cl-primary);
      color: var(--cl-white);
      border-color: var(--cl-primary);
    }
  }

  .page-link {
    @include m.flex-center;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--cl-border);
    border-radius: 0.25rem;
    color: var(--cl-text);
    text-decoration: none;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: var(--bg-solid-second);
      border-color: var(--cl-primary);
    }
    
    span {
      font-size: 0.875rem;
    }
  }
}
