///==============================================//
//===========// TAXONOMY CLOUD.SCSS //===========//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.taxonomy-cloud {
  @include m.flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;

  &__item {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--bg-solid-second);
    color: var(--cl-text-second);
    text-decoration: none;
    border: 1px solid var(--cl-border);
    @include m.transition(background-color, color, transform, box-shadow);

    &:hover {
      background-color: var(--cl-accent-first);
      color: var(--cl-text-second);
      transform: translateY(-0.125rem);
      box-shadow: var(--shadow-glow-sm);
    }
  }
}