@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url('../fonts/NotoSansMono-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji-Regular.woff2') format('woff2');
}
