///==============================================//
//===============// LAYOUT.SCSS //===============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

///==============================================//
//==================// BODY //===================//
body {
  background-color: var(--bg-solid-first);
  color: var(--cl-text-first);
  
  max-width: 100vw;
  min-height: 100dvh;
  scroll-behavior: smooth;
  
  @include m.transition(color, background-color);
  
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: var(--bg-image) no-repeat center/cover;
    filter: brightness(80%);
    
    @include m.transition(background-image);
  }
}

///==============================================//
//=================// LAYOUT //==================//
.layout {
  height: 100dvh;
  width: 100vw;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  
  &__left,
  &__right,
  &__main {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  &__left {
    grid-column: 1;
  }
  
  &__main {
    grid-column: 2;
  }
  
  &__right {
    grid-column: 3;
  }
}