///==============================================//
//===============// LAYOUT.SCSS //===============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

///==============================================//
//==================// BODY //===================//
body {
  max-width: 100vw;
  min-height: 100dvh;
  scroll-behavior: smooth;
  position: relative;
  
  @include m.transition(color, background-color);
  
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: var(--bg-image) no-repeat center/cover;
    filter: opacity(1);
    
    @include m.transition(background-image);
  }
}

///==============================================//
//=================// LAYOUT //==================//
.layout {
  height: 100dvh;
  width: 100vw;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  
  display: grid;
  grid-template: 1fr / 250px 1fr 250px;
  gap: 1rem;
  
  &__left,
  &__right,
  &__main {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: var(--bg-opacity-second);
    border: 1px solid var(--cl-border);
    border-radius: 0.25rem;
    box-shadow: var(--shadow-md);
    scroll-behavior: smooth;
  }
  
  &__left { grid-area: 1 / 1 }
  &__main { grid-area: 1 / 2 }
  &__right { grid-area: 1 / 3 }

  @include m.max(lg) {
    grid-template-columns: 1fr;
    
    &__main { grid-column: 1 }
    
    &__left,
    &__right {
      background-color: var(--bg-solid-first);
      position: fixed;
      top: 0;
      height: 100dvh;
      width: 320px;
      max-width: 100%;
      z-index: 100;
      
      visibility: hidden;
      opacity: 0;
      @include m.transition(transform, visibility, opacity);

      &.is-open {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &__left {
      left: 0;
      transform: translateX(-100%);
    }

    &__right {
      right: 0;
      transform: translateX(100%);
    }
  }
}