{{ define "main" }}
{{ $data := .Site.Data.user  }}

<main class="main">
  <section class="main__section" id="home">

    <figure class="hero">
      <figcaption class="hero__content">
        <h1 class="hero__title">
          <span>Hi!... I'm</span>
          <strong class="hero__title--primary">{{ $data.name }}</strong>
        </h1>
        
        <em 
        class="hero__tagline" 
        data-role="{{ (index $data.tagline 0).option }}" 
        data-role-list='{{ $data.tagline | jsonify }}'>
          {{ (index $data.tagline 0).option }}
        </em>

        <p class="hero__subtitle">{{ $data.opening }}</p>

        <div class="cta">
          {{ range $data.cta }}
            <a href="{{ .url | relURL }}" class="cta__button">{{ .name }}</a>
          {{ end }}
        </div>

      </figcaption>

      <img src="{{ $data.img }}" alt="Logo or Image {{ $data.name }}" class="hero__img">
    </figure>

  </section>

  <section class="main__section main__section--about" id="about">
    
    <figure class="hero">

      <img src="{{ $data.img }}" alt="Logo or Image {{ $data.name }}" class="hero__img">

      <figcaption class="hero__content">
        <h2 class="hero__title">About Me</h2>
        <strong>{{ $data.name }}</strong>
        <figcaption class="hero__content">
          <p class="hero__text">{{ $data.introduction }}</p>
        </figcaption>
      </figcaption>

    </figure>
    
    <div class="main__wrapper main__wrapper--card">
      <h3 class="main__label">My Skill</h3>

      {{ range $data.skill }}
        <article class="card">
          <img src="{{ .img }}" alt="" class="card__img">
          <section class="card__content">
            <h4 class="card__title">{{ .name }}</h4>
            <p class="card__text">{{ .description }}</p>

            <div class="progress">
              <label class="progress__label">Skill Level: <strong>{{ .level }}%</strong></label>
              <div class="progress__bar">
                <div class="progress__fill" data-level="{{ .level }}"></div>
              </div>
            </div>

          </section>
        </article>
      {{ end }}

    </div>

  </section>

  <section class="main__section" id="projects">

  </section>

  <section class="main__section" id="testimony">

  </section>

  <section class="main__section" id="service">

  </section>
</main>
{{ end }}