{{ define "main" }}
  <main class="main">
    <section class="main__section">
      <article class="markdown">
        {{ .Content }}
      </article>
    </section>
    <section class="main__section">
      <div class="card-container">
        {{ $pinned := where .Site.RegularPages "Params.pinned" true }}
        {{ range $pinned }}
          <a href="{{ .RelPermalink }}" class="card">
            <div class="card__image">
              <img src="{{ .Params.image | default "https://placehold.co/1090x720" | relURL }}" alt="">
            </div>
            <div class="card__body">
              <h3 class="card__title">{{ .Title }}</h3>
              {{ if .Params.description }}
                <p class="card__description">{{ .Params.description | plainify | safeHTML | truncate 150 "..." }}</p>
              {{ end }}
              <div class="card__meta">
                <small>
                  <i class="bi bi-calendar"></i>
                  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006" }}</time>
                </small>
                {{ if .Params.categories }}
                  <small>
                    <i class="bi bi-grid"></i>
                    <span>{{ index .Params.categories 0 }}</span>
                  </small>
                {{ end }}
                {{ if .Params.lastmodified }}
                  <small>
                    <i class="bi bi-clock"></i>
                    <time datetime="{{ .Params.lastmodified | time.Format "2006-01-02" }}">{{ .Params.lastmodified | time.Format "02 Jan 2006" }}</time>
                  </small>
                {{ else }}
                  <small>
                    <i class="bi bi-clock"></i>
                    <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "02 Jan 2006" }}</time>
                  </small>
                {{ end }}
                {{ if .Params.status }}
                  <small style="color: {{ .Params.statusColor}};">
                    <i class="bi bi-check2-circle"></i>
                    <span>{{ .Params.status }}</span>
                  </small>
                {{ end }}
              </div>
            </div>
          </a>
        {{ end }}
      </div>
    </section>
  </main>
{{ end }}