{{ define "main" }}
<main class="main">
  <div class="main__layout">
    <article class="markdown">
      <h1>{{ .Title }}</h1>
      
      <div class="meta">
        <small>
          <i class="bi bi-calendar"></i>
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "02 Jan 2006" }}
          </time>
        </small>

        {{ with .Params.categories }}
          <small>
            <i class="bi bi-grid"></i>
            <span>{{ index . 0 }}</span>
          </small>
        {{ end }}

        {{ with .Params.tags }}
          <small>
            <i class="bi bi-tag"></i>
            <span>{{ index . 0 }}</span>
          </small>
        {{ end }}
      </div>

      {{ .Content | safeHTML }}
    </article>
  </div>
  <div class="main__layout main__layout--grid">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
  </div>
</main>

  {{ if .Params.mathjax }}
    {{ partial "content/mathjax.html" . }}
  {{ end }}
{{ end }}