//==============================================//
//=================== CONTENT ==================//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.main, .footer {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @include m.min(sm) {
    max-width: 540px;
  }

  @include m.min(md) {
    max-width: 720px;
  }

  @include m.min(lg) {
    max-width: 960px;
  }

  @include m.min(xl) {
    max-width: 1140px;
  }

  @include m.min(xxl) {
    max-width: 1320px;
  }
}

