//==============================================//
//=================== HEADER ===================//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

#sidebarClose, #sidebarToggle {
  display: none;
  
  @include m.max(lg){
    display: block;
  }
}

.header,
.header__button,
.brand {
  @include m.flex-between;
  gap: 0.5rem;
}

.header {
  max-height: 4.5rem;
  height: 4.5rem;
  width: 100%;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-alt);

  &--topbar {
    @include m.min(lg) {
      border: none;
      background: none;
    }
    .brand {
      visibility: hidden;

      @include m.max(lg){
        visibility: visible;
      }
    }
  }
}

.brand {
  
  &__logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid var(--color-border);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__caption {
    font-family: v.$font__family--second;
    font-weight: v.$font__weight--bold;
  }

  &__title {
    font-size: v.$font__size--5xl;
  }

  &__subtitle {
    font-style: normal;
    color: var(--color-accent);
    font-size: v.$font__size--md;
  }
}