{{ $excluded := slice "tags" "categories" }}
{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ if not (in $excluded $taxonomy) }}
    <div class="navbar navbar--widget">
      <h2 class="navbar__label">{{ $taxonomy | humanize | title }}</h2>
      <ul class="nav nav--widget">
        {{ range $terms }}
          {{ with .Page }}
            <li class="nav__item">
              <a href="{{ .RelPermalink }}" class="nav__link">{{ .Title }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}