///==============================================//
//================// PANEL.SCSS //===============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.panel {
  .btn {
    display: none;

    @include m.max(lg){
      display: block;
    }
  }
  &__header {
    @include m.flex-between;
    gap: 1rem;
    position: relative;
  }
  
  &__content {
    .menu__link {
      font-size: v.$font__size--xs;
      display: block;
      width: 100%;
    }
  }
}