///==============================================//
//===============// SIDEBAR.SCSS //==============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.sidebar {

  &__header {
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
  }

  .btn {
    visibility: hidden;

    @include m.max(lg){
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.brand {

  &__logo {
    display: inline-block;
    border: 4px solid var(--cl-accent-third);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    @include m.transition(box-shadow, border-color);

    img {
      object-fit: contain;
      @include m.transition(scale);
      &:hover {
        scale: 1.1;
      }
    }

    &:hover {
      border-color: var(--cl-accent-first);
      box-shadow: var(--shadow-glow-md);
    }
  }

  &__title,
  &__description {
    margin-block: 0.25rem;
  }

  &__title {
    font-size: v.$font__size--8xl;
    font-weight: v.$font__weight--bold;
    color: var(--cl-text-first);
  }

  &__description {
    font-size: v.$font__size--xs;
    font-weight: v.$font__weight--medium;
    color: var(--cl-text-third);
  }
}