///==============================================//
//===============// TOPBAR.SCSS //===============//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.header {
  display: none;

  @include m.max(lg){
    @include m.flex-between;

    padding: 1rem;
    background-color: var(--bg-solid-second);
    border: 1px solid var(--cl-border);
    border-radius: 0.25rem;
    position: sticky;
    top: 0;
    z-index: 90;
  }
}